---
const {title} = Astro.props;
---
<script is:inline>
    let count = 0;

    function increment() {
        count += 1;
        updateCounter();
    }

    function decrement() {
        count -= 1;
        updateCounter();
    }

    function updateCounter() {
        const counterElement = document.getElementById("counter-value");
        if (counterElement) {
            counterElement.textContent = count.toString();
        }
    }
</script>

<div>
    <h1>{title} Counter: <span id="counter-value">0</span></h1>
    <button onclick="decrement()">-</button>
    <button onclick="increment()">+</button>
</div>
